html {
    scroll-behavior: smooth;
    transition: 2s;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand {
    height: 100%;
}

.logo {
    height: 50px;
}

#slide1 {
    height: 100vh;
    background-image: url('../imagens/SO-Ilustracao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
    color: #fdfdfd;
}

#slide1 .text{
    padding: 0 50px 0 0;
}