body {
    background-color: #F9F9F9;
}

section {
    width: 100%;
    padding: 0 30px;
}

.img {
    width: 60%;
}

.imgVB {
    width: 0px;
}

.cmd {
    width: 60%;
    padding: 15px;
    background-color: #343434;
    border-radius: 10px;
    margin: 20px 0;
}

.cmd pre {
    color: #fff;
}